@import play.api.i18n.Messages
@import play.api.data.Form
@import play.api.mvc.{Call, Request}
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.heclicensingbodyfrontend.models
@import uk.gov.hmrc.heclicensingbodyfrontend.controllers.routes

@this(layout: Layout, govukErrorSummary: GovukErrorSummary, govukDateInput: GovukDateInput, govukButton: GovukButton, formWithCSRF: FormWithCSRF)

@(form: Form[models.DateOfBirth], back: Call)(implicit request: Request[_], messages: Messages)
@key = @{"dateOfBirth"}
@title = @{messages(s"$key.title")}
@inputErrorClass = @{if(form.hasErrors) " govuk-input--error" else ""}

@layout(pageTitle = Some(title), hasErrors = form.hasErrors, backLocation = Some(back)) {

    @if(form.errors.nonEmpty) {
        @govukErrorSummary(ErrorSummary(errorList = form.errors.map(e => ErrorLink(
            href = Some(s"#${e.key}-day"),
            content = Text(s"${messages(s"${e.key}.${e.message}", e.args: _*)}")
        )), title = Text(messages("generic.errorSummary"))))s
    }


    @formWithCSRF(action = routes.DateOfBirthController.dateOfBirthSubmit()) {

        @govukDateInput(DateInput(
            id = key,
            namePrefix = Some(key),
            items = Seq(
                InputItem(
                    name = "day",
                    value = form.data.get(s"$key-day"),
                    classes = "govuk-input--width-2" + inputErrorClass
                ),
                InputItem(
                    name = "month",
                    value = form.data.get(s"$key-month"),
                    classes = "govuk-input--width-2" + inputErrorClass
                ),
                InputItem(
                    name = "year",
                    value = form.data.get(s"$key-year"),
                    classes = "govuk-input--width-4" + inputErrorClass
                )
            ),
            hint = Some(Hint(
                content = Text(messages(s"$key.hint"))
            )),
            errorMessage = form.error(key).map(e => ErrorMessage(
                content = Text(s"${messages(s"${e.key}.${e.message}", e.args: _*)}")
            )),
            fieldset = Some(Fieldset(
                legend = Some(Legend(
                    content = Text(title),
                    classes = "govuk-fieldset__legend--xl",
                    isPageHeading = true
                ))
            ))
        ))
        @govukButton(Button(content = Text(messages("button.continue"))))

    }
}
