@import uk.gov.hmrc.heclicensingbodyfrontend.config.AppConfig
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers._

@import play.api.i18n.Messages
@import play.api.mvc.Request
@import play.twirl.api.Html

@this(
        appConfig: AppConfig,
        govukLayout: GovukLayout,
        hmrcHead: HmrcHead,
        hmrcStandardHeader: HmrcStandardHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcScripts: HmrcScripts,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper
)
@(pageTitle: Option[String] = None,
        headBlock: Option[Html] = None,
        scriptsBlock: Option[Html] = None,
        hasErrors: Boolean = false
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@serviceNameAndHeading = @{pageTitle.fold(messages("service.name"))(t => s"""$t - ${messages("service.name")}""")}
@govTitle = @{serviceNameAndHeading + " - " + messages("gov.uk")}
@documentTitle = @{if(hasErrors) { messages("generic.errorPrefix") + " " + govTitle } else { govTitle }}

@govukLayout(
    pageTitle = Some(documentTitle),
    headBlock = Some(hmrcHead(headBlock = headBlock, nonce = CSPNonce.get)),
    headerBlock = Some(hmrcStandardHeader()),
    scriptsBlock = Some(hmrcScripts(scriptsBlock = scriptsBlock, nonce = CSPNonce.get)),
    beforeContentBlock = if(appConfig.welshLanguageSupportEnabled) Some(hmrcLanguageSelectHelper()) else None,
    footerBlock = Some(hmrcStandardFooter())
)(contentBlock)
