@import cats.syntax.eq._
@import cats.instances.string._
@import uk.gov.hmrc.heclicensingbodyfrontend.config.AppConfig
@import uk.gov.hmrc.heclicensingbodyfrontend.controllers.routes
@import views.html.helper.CSPNonce
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.hmrcfrontend.views.html.helpers._

@import play.api.i18n.Messages
@import play.api.mvc.{Call, Request}
@import play.twirl.api.Html

@this(
        appConfig: AppConfig,
        govukLayout: GovukLayout,
        govukPhaseBanner : GovukPhaseBanner,
        govukBackLink: GovukBackLink,
        hmrcHead: HmrcHead,
        hmrcStandardHeader: HmrcStandardHeader,
        hmrcStandardFooter: HmrcStandardFooter,
        hmrcScripts: HmrcScripts,
        hmrcLanguageSelectHelper: HmrcLanguageSelectHelper,
        hmrcReportTechnicalIssueHelper: HmrcReportTechnicalIssueHelper
)
@(pageTitle: Option[String] = None,
        headBlock: Option[Html] = None,
        scriptsBlock: Option[Html] = None,
        hasErrors: Boolean = false,
        backLocation: Option[Call] = None
)(contentBlock: Html)(implicit request: Request[_], messages: Messages)

@serviceNameAndHeading = @{pageTitle.fold(messages("service.name"))(t => s"""$t - ${messages("service.name")}""")}
@govTitle = @{serviceNameAndHeading + " - " + messages("gov.uk")}
@documentTitle = @{if(hasErrors) { messages("generic.errorPrefix") + " " + govTitle } else { govTitle }}
@head = @{
    Some(Html(s"""${headBlock.getOrElse("")}<link rel="stylesheet" media="all" href="${controllers.routes.Assets.versioned("stylesheets/application.css")}" ${CSPNonce.attr}>"""))
}
@scripts = @{
    Some(Html(s"""${scriptsBlock.getOrElse("")}<script src="${controllers.routes.Assets.versioned("javascripts/application.js")}" ${CSPNonce.attr}></script>"""))
}
@backUrl = @{
    backLocation.map(call =>
        if(call.url === routes.StartController.start.url) appConfig.taxCheckGuidanceUrl
        else call.url
    )
}
@beforeContent = {
    @govukPhaseBanner(PhaseBanner(
        tag = Some(Tag(
            content = Text("beta")
        )),
        content = HtmlContent(messages("phaseBanner.beta.text", appConfig.betaFeedbackUrl))
    ))
    @backUrl.map(back => govukBackLink(BackLink(href = back, attributes = Map("id" -> "back"))))

@if(appConfig.welshLanguageSupportEnabled) { @hmrcLanguageSelectHelper() }
}
@content = {

    <div class="govuk-!-margin-bottom-6">
        @contentBlock
    </div>

    @hmrcReportTechnicalIssueHelper()
}
@govukLayout(
    pageTitle = Some(documentTitle),
    headBlock = Some(hmrcHead(headBlock = head, nonce = CSPNonce.get)),
    headerBlock = Some(hmrcStandardHeader()),
    scriptsBlock = Some(hmrcScripts(scriptsBlock = scripts, nonce = CSPNonce.get)),
    beforeContentBlock = Some(beforeContent),
    footerBlock = Some(hmrcStandardFooter())
)(content)
