@import play.api.i18n.Messages
@import play.api.data.Form
@import play.api.mvc.{Call, Request}
@import uk.gov.hmrc.govukfrontend.views.html.components._
@import uk.gov.hmrc.heclicensingbodyfrontend.models.licence
@import uk.gov.hmrc.heclicensingbodyfrontend.controllers.routes
@import uk.gov.hmrc.heclicensingbodyfrontend.models.views.LicenceTypeOption

@this(layout: Layout, govukErrorSummary: GovukErrorSummary, govukRadios: GovukRadios, govukButton: GovukButton, formWithCSRF: FormWithCSRF)

@(form: Form[licence.LicenceType], back: Call, options: List[licence.LicenceType])(implicit request: Request[_], messages: Messages)
@key = @{"licenceType"}
@title = @{messages(s"$key.title")}
@optionViewModels = @{options.map(LicenceTypeOption.licenceTypeOption)}
@radioOptions = @{optionViewModels.zipWithIndex.map{ case (option, index) => RadioItem(
  content = Text(messages(s"$key.${option.messageKey}")),
  value = Some(index.toString),
  hint = option.hintKey.map{ h: String => Hint(content = Text(messages(s"$key.$h"))) },
  checked = form.data.values.toList.contains(index.toString)
)}.toSeq}

@layout(pageTitle = Some(title), hasErrors = form.hasErrors, backLocation = Some(back)) {
  @if(form.errors.nonEmpty) {
    @govukErrorSummary(ErrorSummary(errorList = form.errors.map(e => ErrorLink(
      href = Some(s"#${e.key}"),
      content = Text(s"${messages(s"${e.key}.${e.message}")}")
    )), title = Text(messages("generic.errorSummary"))))
  }
  @formWithCSRF(action = routes.LicenceTypeController.licenceTypeSubmit()) {

    @govukRadios(Radios(
      fieldset = Some(Fieldset(
        legend = Some(Legend(
          content = Text(title),
          classes = "govuk-fieldset__legend--xl",
          isPageHeading = true
        ))
      )),
      hint = None,
      idPrefix = Some(key),
      name = key,
      items = radioOptions,
      errorMessage = form.error(key).map(e => ErrorMessage(
        content = Text(messages(s"$key.${e.message}"))
      ))
    ))

    @govukButton(Button(content = Text(messages("button.continue"))))
  }
}
