@import play.api.i18n.Messages
@import uk.gov.hmrc.heclicensingbodyfrontend.models.HECTaxCheckMatchRequest
@import play.api.mvc.Request
@import uk.gov.hmrc.heclicensingbodyfrontend.views.html.components._
@import uk.gov.hmrc.heclicensingbodyfrontend.controllers.routes


@this(layout: Layout, detailsEntered: DetailsEntered)

@(hecTaxCheckMatchRequest:HECTaxCheckMatchRequest)(implicit request: Request[_], messages: Messages)
@key = @{"taxCheckNoMatch"}
@title = @{messages(s"$key.title")}

@layout(pageTitle = Some(title)) {

    @detailsEntered(hecTaxCheckMatchRequest)
    <p class="govuk-body">@messages(s"$key.whatNext.p1")</p>

    <p class="govuk-body govuk-!-margin-bottom-9"><a class="govuk-link" href="@{routes.StartController.start()}">@messages(s"$key.viewAnother.link")</a></p>

}
