@import play.api.i18n.Messages
@import uk.gov.hmrc.heclicensingbodyfrontend.models.HECTaxCheckMatchRequest
@import play.api.mvc.Request

@import uk.gov.hmrc.govukfrontend.views.html.components._

@this(layout: Layout, govukPanel : GovukPanel)

@(hecTaxCheckMatchRequest:HECTaxCheckMatchRequest)(implicit request: Request[_], messages: Messages)
@key = @{"taxCheckValid"}
@title = @{messages(s"$key.title")}

@layout(pageTitle = Some(title)) {
    @govukPanel(Panel(
        title = HtmlContent(s"""<span aria-hidden="true" class="check"></span>${title}"""),
        content = HtmlContent(s"""${messages(s"$key.subtitle")}<br><strong>${hecTaxCheckMatchRequest.taxCheckCode.value.grouped(3).mkString(" ")}</strong>""")
    ))

}
