$govuk-include-default-font-face: false;

@import "lib/govuk-frontend/govuk/base";

body:not(.js-enabled) .js-visible {
  display: none;
}

.check {
  display: block;
  margin: 0 auto 0.2em;
  height: 40px;
  width: 18px;
  border-right: 8px solid govuk-colour("white");
  border-bottom: 8px solid govuk-colour("white");
  transform: rotate(45deg);
  @media print {
    border-color: govuk-colour("black");
  }
}

.govuk-panel--confirmation.expired {
  background: $govuk-error-colour;
}

.cross {
  display: block;
  position: relative;
  height: 50px;
  &:before, &:after {
    position: absolute;
    left: 50%;
    content: '';
    height: 50px;
    border-right: 10px solid govuk-colour("white");
    transform: rotate(45deg);
    @media print {
      border-color: govuk-colour("black");
    }
  }
  &:after {
    transform: rotate(-45deg);
  }
}

.govuk-date-input.lang-cy > .govuk-date-input__item {
  margin-right: 30px;
  &:first-of-type {
    margin-right: 12px;
  }
}
